.play-button {
    color: red;
    background-color: black;
    font-size: 32px;
    border:none ;
    border-radius: 4px;
    padding: 10px 50px;
    margin: 50px 0;
    cursor: pointer;
}
 
.play-button:hover {
    background-color: green;
    color: white;
    transition: all 1s;
}

.key {
    border: 1px solid gray;
    background-color: aqua;
    font-size: 16px;
    padding: 10px;
    border-radius: 64px;
    cursor:pointer ;
}

.key:hover {
    background-color: green;
    color: white;
    transition: all 1s;
}